* {
	padding: 0;
	margin: 0;
}
#w_oPeopleContainerPage {

	background: #FFFFFF;
	font-family: Nokia Pure Text, Arial, Helvetica, sans-serif;
}

#w_oPeopleContainerPage div {
	position: relative;
}
.w_cPeopleCTab {
	border-top: 0px solid #e6e6e6;
	background: #ffffff;
	display: none;
}
.w_cPeopleCTabSeparator {
	font-size: 15px;
}
.w_cPeopleCTabsList li {
	list-style: none;
	display: inline;
	z-index: 1;
	font-size: 18px;
	font-weight: bold;
	color: #2e62b8;
}

.w_cPeopleCTabsList a {
	color: #2e62b8;
	display: inline-block;
	text-decoration: none;
	height: 29px;
}

.w_cPeopleCTabsList a.active {
	background: #fff;
	color: #2e62b8;
	border-bottom: 0px solid #e6e6e6;
}
.w_cPeopleCGreyBar {
	height: 31px;
	background: #e6e6e6;
	text-align: right;
}
.w_cPeopleCSearchBar {
	height: 31px;
	background: #ffffff;
	text-align: left;
}
.w_cPeopleCHeaderBar {
	height: 31px;
	background: #DEECF8;
	text-align: left;
}
.w_cPeopleCHeaderBar0 {
	float:left;
	width:10%;
}
.w_cPeopleCHeaderBar1 {
	float:left;
	width:30%;
}
.w_cPeopleCHeaderBar2 {
	float:left;
	width:20%;
}
.w_cPeopleCHeaderBar3 {
	float:left;
	width:20%;
}
.w_cPeopleCHeaderBar4 {
	float:left;
	width:20%;
}
.w_cPeopleCTab1Row {
	height:54px;
	background:#EEF3F9;
	margin-top:5px;
	padding:13px;
}
.w_cPeopleCTab1Col0 {
	float:left;
	width:10%;
}
.w_cPeopleCTab1Col1 {
	float:left;
	width:30%;
}
.w_cPeopleCTab1Col1Image, .w_cPeopleCTab1Col1Text {
	float:left;
}
.w_cPeopleCTab1Col2 {
	
	width:20%;
	height:54px;
	display: table-cell;
    vertical-align: middle;
    border:1px red solid;
    float:left;
}
.w_cPeopleCTab1Col3 {
	float:left;
	width:20%;
}
.w_cPeopleCTab1Col4 {
	float:left;
	width:20%;
}
#w_oPeopleCPointer {
	height: 0;
	width: 0;
	border-bottom: 8px solid #e6e6e6;
	border-left: 16px dotted transparent;
	border-right: 16px dotted transparent;
	left: 0px;
	top: 2px;
	margin-left: 20px;
	z-index: 1;
	position: relative;
}