@font-face {
    font-family: 'Nokia Pure Text';
    /*src: url('../fonts/NokiaPureText.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');*/
    src: url('../fonts/NokiaPureText.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nokia Pure Text";
    src: url("../fonts/Nokia_Pure_Text_Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}